.pais {
  background-image: url("../../public/Hills@2x.png");
  height: 778px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-left: 72px;
  padding-right: 80px;
}

.paisAlumine {
  display: flex;
  justify-content: space-between;
}

.paisAlumineSisu {
  margin-top: 230px;
}

.pealkirjad {
  font-weight: 800;
  letter-spacing: 0px;
  color: #0B0B0B;
}


.paisAlumineSisuH2 {
  font-size: 40px;
  margin: 0;
}

.paisAlumineSisuH1 {
  font-size: 74px;
  margin: 0;
}

.paisAlumineSisuH4 {
  font-size: 21px;
  margin-top: 14px;
  max-width: 477px;
}

.paisAlumineSisuNupp {
  background: #0B0B0B 0% 0% no-repeat padding-box;
  letter-spacing: 2.25px;
  color: #FFFFFF;
  font-weight: 800;
  padding: 21px 25px;
  font-size: 12.5px;
  border: none;
}

.paisAluminePilt {
  background-image: url("../../public/Image@2x.png");
  height: 915px;
  width: 915px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -300px;
  border-radius: 500px;
}